:root {
  --background-color: #222831;
  --surface: #31363f;
  --primary: #76abae;
  --secondary: #eeeeee;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--secondary);
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  padding-bottom: 1.5rem;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 80%;
  background-color: var(--surface);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  padding: 1rem;
}
